@import "../../styles/variables.scss";

.featured {
  display: grid;
  padding: 0px 20px 80px 20px;
  justify-items: center;
  gap: 24px;

  @media screen and (width >= 1110px) {
    gap: 48px;
  }

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    @media screen and (width >= 768px) {
      flex-direction: row;
      gap: 10px;
      max-width: 689px;
    }
    @media screen and (width >= 1150px) {
      gap: 30px;
      max-width: 1110px;
    }
  }

  &__item {
    max-width: 327px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 55px 24px;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (width >= 768px) {
      max-width: 689px;
      background-size: cover;
      padding: 64px 24px;
    }

    @media screen and (width >= 1150px) {
      max-width: 1110px;
    }

    &--main {
      text-align: center;
      background-position: center top;
      background-color: $tan;
      align-items: center;
      justify-content: center;
      background-image: url("../../assets/featured/main-mobile.png");

      @media screen and (width >= 768px) {
        background-image: url("../../assets/featured/main-tablet.png");
        h4 {
          font-size: 3.5rem;
          line-height: 56px;
        }
      }

      @media screen and (width >= 1150px) {
        background-image: url("../../assets/featured/main-desktop.png");
        text-align: left;
        background-position: center;
        align-items: flex-start;
        justify-content: center;
        height: 560px;
        & > h4,
        a,
        p {
          margin-left: 666px;
        }
      }
    }

    &--speaker {
      background-image: url("../../assets/featured/zx7-mobile.png");
      align-items: flex-start;
      justify-content: center;
      height: 320px;
      @media screen and (width >= 768px) {
        background-image: url("../../assets/featured/zx7-tablet.png");
        padding-left: 62px;
        h4 {
          font-size: 1.75rem;
        }
      }
      @media screen and (width >= 1150px) {
        background-image: url("../../assets/featured/zx7-desktop.png");
        padding-left: 95px;
      }
    }

    &--image {
      background-image: url("../../assets/featured/yx1-mobile.png");
      height: 200px;
      @media screen and (width >= 768px) {
        height: 320px;
        width: 339px;
        background-image: url("../../assets/featured/yx1-tablet.png");
      }
      @media screen and (width >= 1150px) {
        background-image: url("../../assets/featured/yx1-desktop.png");
        width: 540px;
      }
    }

    &--text {
      background-color: $grey;
      align-items: flex-start;
      justify-content: center;
      height: 200px;
      @media screen and (width >= 768px) {
        height: 320px;
        width: 339px;
        padding-left: 42px;
        h4 {
          font-size: 1.75rem;
        }
      }
      @media screen and (width >= 1150px) {
        height: 320px;
        padding-left: 95px;
        width: 540px;
      }
    }
  }

  &__image {
    margin-bottom: 32px;
    @media screen and (width >= 1150px) {
      display: none;
    }
  }

  &__title {
    margin-bottom: 32px;
    &--white {
      color: $white;
      font-size: 36px;
      line-height: 40px;
      margin-bottom: 0;
    }
  }

  &__body {
    &--white {
      margin: 24px 0;
      color: $white;
      max-width: 349px;
    }
  }
}
