@import "../../styles/variables.scss";

.hero {
  height: 600px;
  background-color: #141414;

  @media screen and (width >= 768px) {
    height: 769px;
  }
  @media screen and (width >= 1150px) {
    background-color: #131313;
  }

  &__container {
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../assets/hero/hero-tablet.png");
    @media screen and (width >= 768px) {
      max-width: 768px;
      height: 769px;
      background-image: url("../../assets/hero/hero-tablet.png");
    }
    @media screen and (width >= 1150px) {
      max-width: 1110px;
      background-image: url("../../assets/hero/hero-desktop.png");
      background-position: bottom;
      align-items: flex-start;
      justify-content: center;
      text-align: left;
    }
  }

  &__overline {
    color: $white;
    opacity: 0.5;
    margin: 85px 0 16px 0;
  }

  &__title {
    color: $white;
    &:last-of-type {
      margin-bottom: 24px;
    }
  }

  &__body {
    color: $white;
    opacity: 0.75;
    max-width: 328px;
    margin-bottom: 28px;
    @media screen and (width >= 768px) {
      margin-bottom: 40px;
      max-width: 349px;
    }
  }
}
