@import "./fonts.scss";

// - Colors

$tan: #d87d4a;
$off-tan: #fbaf85;

$black: #000000;
$off-black: #101010;

$white: #ffffff;
$off-white: #fafafa;

$grey: #f1f1f1;

// - Typography

$family-body: "Manrope", sans-serif;
$family-header: "Manrope", sans-serif;

$weight-body: 500;
$weight-header: 700;
$weight-button: 700;
$weight-overline: 400;

$size-body: 0.938rem;

$size-h1: 3.5rem;
$size-h2: 2.5rem;
$size-h3: 2rem;
$size-h4: 1.75rem;
$size-h5: 1.5rem;
$size-h6: 1.125rem;

$size-overline: 0.875rem;
$size-subtitle: 0.813rem;
