@import "../../styles/variables.scss";

.navbar {
  z-index: 2;
  width: 100%;
  position: fixed;
  background-color: $off-black;
  padding: 32px 24px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 327px;
    @media screen and (width >= 768px) {
      width: 689px;
      justify-content: flex-start;
      gap: 42px;
    }
    @media screen and (width >= 1150px) {
      width: 1110px;
      margin: 0 auto;
    }
  }
  &__burger {
    cursor: pointer;
    margin-bottom: -4px;
    @media screen and (width >= 1150px) {
      display: none;
    }
  }
  &__logo {
    @media screen and (width >= 1150px) {
      margin-right: 150px;
    }
  }

  &__link {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 25px;
    font-size: 0.813rem;
    @media screen and (width <= 1150px) {
      display: none;
    }
  }

  &__cart {
    cursor: pointer;
    @media screen and (width >= 768px) {
      margin-left: auto;
    }
  }

  &__cart-quantity {
    position: absolute;
    border-radius: 50%;
    background-color: $tan;
    width: 15px;
    height: 15px;
    text-align: center;
    font-size: 0.75rem;
    line-height: 15px;
    color: #fff;
    font-weight: 700;
    top: 10px;
    right: 10px;
  }
}
